
  /* Container */


  .inventory-analysis-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  /* Main Content */
  .main-content {
    flex: 1;
    padding: 20px 40px;
    background-color: #fff;
  }
  
  .main-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Metric Cards */
  .metric-cards {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  .metric-card {
    width: 200px;
    flex: 1;
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .metric-card h3 {
    font-size: 32px;
    margin: 0;
  }
  
  .metric-card p {
    font-size: 14px;
    color: #555;
  }
  
  .metric-card .growth {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 14px;
    color: #28a745;
  }
  
  /* Colors for Cards */
  .metric-card.purple {
    background-color: #eae4f2;
    color: #663399;
  }
  
  .metric-card.blue {
    background-color: #dceefb;
    color: #0066cc;
  }
  
  .metric-card.orange {
    background-color: #ffefdb;
    color: #cc5500;
  }
  .queryTable{
    display: block;
    text-align: center;
  }

  .inventory-analysis-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .chart-container {
    height: 600px;
    padding: 20px;
    overflow-y: auto;
  }