.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #2f3e46;
  color: #ffffff;
}

.menu-icon  {
  width: 20px;
  height: 3px;
  margin: 15px 0 0 15px;
  cursor: pointer;
}

.menu-icon {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 5px 10px;
  border: none;
  border-radius: 50px;
}

.search-bar-input {
  padding-left: 30px;
  border: none !important;
  outline: none !important;
}

.user-icon {
  font-size: 24px;
  cursor: pointer;
}

.search-icon{
  color: black;
}