.dashboard {
    flex: 1;
    background-color: white;
    color: #2f3e46;
    text-align: justify;
    height: 100%;
  }
  
  .dashboard-title {
    font-size: 28px;
    font-weight: bold;
    color: #1A0F91;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .dashboard-subheading {
    font-size: 16px;
    margin-bottom: 30px;
    color: #555;
  }
  
  .dashboard-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .dashboard-layout1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    padding: 0 40px;
  }
  .dashboard-image{
    height: 600px;
    width: 600px;
  }
  .dashboard-headings-info{
    padding-left: 65px;
  }